body, label, h3, h4 {
	font-family: 'Oxygen', sans-serif;
}

body {
	text-align: center;
}

.form-control {
	width: 50%;
	margin: 0 auto;
}

label {
	font-size: 30px;
	margin-top: 10%;
}

img {
	width: 30%;
}

h3 {
	font-size: 20px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}
h4 {
	font-size: 17px;
	width: 70%;
	margin: 0 auto;
	font-weight: bold;
}

h2 {
	font-weight: bolder;
}